* {
    box-sizing: border-box;
}

#responsive-website {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    color: white;
    max-width: 1170px;
}

header {
    background-color: red;
    padding: 15px 0;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.left-side {
    background-color: green;
    min-height: 250px;
    width: 20%;
}

.content {
    background-color: rgb(17, 161, 245);
    min-height: 250px;
    width: 60%;
    text-transform: uppercase;
}

.right-side {
    background-color: pink;
    min-height: 250px;
    width: 20%;
}

footer {
    background-color: violet;
    padding: 15px 0;
}

@media (max-width: 992px) {
    .left-side {
        width: 100%;
        order: 3;
    }
    .content {
        width: 80%;
        order: 1;
    }
    .right-side {
        width: 20%;
        order: 2;
    }
}

@media (max-width: 768px) {
    .left-side {
        width: 100%;
        order: 2;
    }
    .content {
        width: 100%;
        order: 1;
    }
    .right-side {
        width: 100%;
        order: 3;
    }
}